{% extends 'shop/base_template.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container mt-4">
        <h2>Покупка курса: {{ course.title }}</h2>
        <div class="mb-3">
            <p>
                Цена за курс:
                {% if course.discount > 0 %}
                    <span class="text-muted text-decoration-line-through">${{ course.price }}</span>
                    <span class="text-danger">{{ course.discount }}% off</span>
                    <span class="fw-bold">${{ course.get_discounted_price }}</span>
                {% else %}
                    <span class="fw-bold">${{ course.price }}</span>
                {% endif %}
            </p>
        </div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    <div class="text-danger">{{ field.errors }}</div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Купить</button>
        </form>
    </div>
{% endblock %}