{% extends 'shop/base_template.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="text-center mb-4">📝 Password change</h2>

    <form method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        {% for f in form %}
            <div class="mb-3">
                <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                {{ f|add_class:"form-control" }}
                {% if f.errors %}
                    <div class="text-danger small">{{ f.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success w-100">Change pass</button>
    </form>
</div>
{% endblock %}